<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1>Customer Information Management &#x1F46A;</h1>
        <hr><br><br>
        <alert :message=message v-if="showMessage"></alert>
        <button type="button" class="btn btn-success btn-sm" v-b-modal.customer-modal>Add Customer
        </button>
        <br><br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Age</th>
              <th scope="col">Club Member?</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(customer, index) in customers" :key="index">
              <td>{{ customer.name }}</td>
              <td>{{ customer.age }}</td>
              <td>
                <span v-if="customer.member">Yes</span>
                <span v-else>No</span>
              </td>
              <td>
                <div class="btn-group" role="group">
                  <b-button variant="outline-primary" v-b-modal.customer-detail-modal
                  @click="editCustomer(customer)">Details</b-button>
                  <button type="button" class="btn btn-warning btn-sm"
                  v-b-modal.customer-update-modal @click="editCustomer(customer)">Update</button>
                  <button type="button" class="btn btn-danger btn-sm"
                  @click="onDeleteCustomer(customer)">Delete</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <b-modal ref="addCustomerModal"
            id="customer-modal"
            title="Add new customer"
            hide-footer>
      <b-form @submit="onSubmit" @reset="onReset" class="w-100">
      <b-form-group id="form-name-group"
                    label="Name:"
                    label-for="form-name-input">
          <b-form-input id="form-name-input"
                        type="text"
                        v-model="addCustomerForm.name"
                        required
                        placeholder="Enter Name">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-age-group"
                      label="Age:"
                      label-for="form-age-input">
            <b-form-input id="form-age-input"
                          type="text"
                          v-model="addCustomerForm.age"
                          required
                          placeholder="Enter age">
            </b-form-input>
          </b-form-group>
        <b-form-group id="form-member-group">
          <b-form-checkbox-group v-model="addCustomerForm.member" id="form-checks">
            <b-form-checkbox value="true">Club Member?</b-form-checkbox>
          </b-form-checkbox-group>
        </b-form-group>
        <b-button-group>
          <b-button type="submit" variant="primary">Submit</b-button>
          <b-button type="reset" variant="danger">Reset</b-button>
        </b-button-group>
      </b-form>
    </b-modal>
    <b-modal ref="editCustomerModal"
         id="customer-update-modal"
         title="Update Customer"
         hide-footer>
  <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
  <b-form-group id="form-name-edit-group"
                label="Name:"
                label-for="form-name-edit-input">
      <b-form-input id="form-name-edit-input"
                    type="text"
                    v-model="editForm.name"
                    required
                    placeholder="Enter name">
      </b-form-input>
    </b-form-group>
    <b-form-group id="form-age-edit-group"
                  label="Age:"
                  label-for="form-age-edit-input">
        <b-form-input id="form-age-edit-input"
                      type="text"
                      v-model="editForm.age"
                      required
                      placeholder="Enter age">
        </b-form-input>
      </b-form-group>
    <b-form-group id="form-member-edit-group">
      <b-form-checkbox-group v-model="editForm.member" id="form-checks">
        <b-form-checkbox value="true">Club Member?</b-form-checkbox>
      </b-form-checkbox-group>
    </b-form-group>
    <b-button-group>
      <b-button type="submit" variant="primary">Update</b-button>
      <b-button type="reset" variant="danger">Cancel</b-button>
    </b-button-group>
  </b-form>
</b-modal>
<b-modal id="customer-detail-modal" title="Customer Details" hide-footer>
    <h1>&#x1F4CB;</h1>
    <p class="my-4">Name: {{ editForm.name }}</p>
    <p class="my-4">Age: {{ editForm.age }}</p>
    <p class="my-4">Club Member: <span style="color: green; fontWeight: bold"
    v-if="editForm.member">Yes</span>
    <span style="color: red; fontWeight: bold" v-else>No</span></p>
</b-modal>
  </div>
</template>

<script>
import axios from 'axios';
import Alert from './Alert.vue';

export default {
  data() {
    return {
      customers: [],
      addCustomerForm: {
        name: '',
        age: '',
        member: [],
      },
      editForm: {
        id: '',
        name: '',
        age: '',
        member: [],
      },
      message: '',
      showMessage: false,
    };
  },
  components: {
    alert: Alert,
  },
  methods: {
    getCustomers() {
      const path = 'http://localhost:5000/customers';
      axios.get(path)
        .then((res) => {
          this.customers = res.data.customers;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    addCustomer(payload) {
      const path = 'http://localhost:5000/customers';
      axios.post(path, payload)
        .then(() => {
          this.getCustomers();
          this.message = 'New Customer Added!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
          this.getCustomers();
        });
    },
    updateCustomer(payload, customerID) {
      console.log(customerID);
      const path = `http://localhost:5000/customers/${customerID}`;
      axios.put(path, payload)
        .then(() => {
          this.getCustomers();
          this.message = 'Customer Updated!';
          this.showMessage = true;
        })
        .catch((error) => {
        // eslint-disable-next-line
      console.error(error);
          this.getCustomers();
        });
    },
    editCustomer(customer) {
      this.editForm = customer;
    },
    removeCustomer(customerID) {
      const path = `http://localhost:5000/customers/${customerID}`;
      axios.delete(path)
        .then(() => {
          this.getCustomers();
          this.message = 'Customer removed!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
      console.error(error);
          this.getCustomers();
        });
    },
    onDeleteCustomer(customer) {
      this.removeCustomer(customer.id);
    },
    initForm() {
      this.addCustomerForm.name = '';
      this.addCustomerForm.age = '';
      this.addCustomerForm.member = [];
      this.editForm.id = '';
      this.editForm.name = '';
      this.editForm.age = '';
      this.editForm.member = [];
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.$refs.addCustomerModal.hide();
      let member = false;
      if (this.addCustomerForm.member[0]) member = true;
      const payload = {
        name: this.addCustomerForm.name,
        age: this.addCustomerForm.age,
        member,
      };
      this.addCustomer(payload);
      this.initForm();
    },
    onSubmitUpdate(evt) {
      evt.preventDefault();
      this.$refs.editCustomerModal.hide();
      let member = false;
      if (this.editForm.member[0]) member = true;
      const payload = {
        name: this.editForm.name,
        age: this.editForm.age,
        member,
      };
      this.updateCustomer(payload, this.editForm.id);
    },
    onReset(evt) {
      evt.preventDefault();
      this.$refs.addCustomerModal.hide();
      this.initForm();
    },
    onResetUpdate(evt) {
      evt.preventDefault();
      this.$refs.editCustomerModal.hide();
      this.initForm();
      this.getCustomers();
    },
  },
  created() {
    this.getCustomers();
  },
};
</script>
